<h2>New Whiskey</h2>

<form action="/whiskeys" method="post">
  <label for="whiskey[name]">Name:</label>
  <input name="whiskey[name]">

  <label for="whiskey[photo_url]">Photo URL:</label>
  <input name="whiskey[photo_url]">

  <label for="whiskey[flavour]">Flavour:</label>
  <input name="whiskey[flavour]">

  <label for="whiskey[thoughts]">Thoughts:</label>
  <input name="whiskey[thoughts]">

  <input type="submit" value="Create">
</form>
